%flex {
  display: flex;
  display: -webkit-flex;
}

%column-wrap {
  flex-flow: column wrap;
  -ms-flex-flow: column wrap;
}

@mixin justify-content($value){
  justify-content: $value;
  -webkit-justify-content:$value;
}
